body{
	background-color: red;
}


Enormerectanglequientouretous {	
	background-color: 5898b8;
	display: flex;
	justify-content: center;
	}


.Nom{
	display: flex;
	justify-content: center;
}